<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width , initial-scale=1">
    <link rel="stylesheet" href="../../vendor/normalize.css">
    <link rel="stylesheet" href="../Main/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <title>Grid item</title>
</head>
<body>
<div class="kkb-grid-item">
    <div class="kkb-grid-item__wrapper">
        <img class="kkb-grid-item__img" src="../../assets/icons/tuple.svg" alt="Tim Cook">
    </div>
    <div class="kkb-grid-item__row">
        <h4 class="kkb-grid-item__heading">от 9%</h4>
        <p class="kkb-grid-item__text">300 000 руб.</p>
    </div>
</div>
</body>
</html>