@import "_variables/variables";
@import "_mixins/mixins";


@media screen and (min-width: 640px) {

  .kkb-hero {
    flex-direction: column;
    column-gap: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .kkb-container {
    max-width: 768px;
  }
  .kkb-hero {

    &__inner {
      flex-direction: column;
    }

    &__content {
      flex-grow: 1;

      &_left {
        padding: 1rem;
      }
    }

    &__banner {
      &_tier1 {
        order: 2;
      }
    }

    &__img-container {
      right: -35%;
      transform: scale(2);
    }
  }
}

@media screen and (min-width: 1024px) {
  .kkb-container {
    max-width: 1024px;
  }
}

@media screen and (min-width: 1280px) {
  .kkb-container {
    max-width: 1280px;
  }
}

@media screen and (min-width: 1536px) {
  .kkb-container {
    max-width: 1536px;
  }
}
