$kkb-rf-size: 16px;
$kkb-main-color: rgb(0, 0, 0);
$kkb-accent-color: rgb(255, 255, 255);
$kkb-main-bg-color: rgb(103, 83, 255);
$kkb-sun-glow: rgb(251, 204, 50);
$kkb-animation-timing: 0.45, 0, 0.55, 1;
$kkb-font-support: 'Roboto', 'Helvetica Neue', 'Helvetica', sans-serif;


