<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width , initial-scale=1">
    <link rel="stylesheet" href="../../vendor/normalize.css">
    <link rel="stylesheet" href="../Main/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&family=Roboto:wght@300;400;500&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <title>Hero section</title>
</head>
<body>
<div class="kkb-hero">

    <div class="kkb-hero__inner">


        <div class="kkb-hero__banner kkb-hero__banner_tier1">
            <div class="kkb-hero__wrapper kkb-hero__wrapper_left">
                <div class="kkb-hero__content kkb-hero__content_left">
                    <h2 class="kkb-hero__title">Ипотека для всех</h2>
                    <p class="kkb-hero__text">
                        Банк «Кубань Кредит» предлагает большой выбор ипотечных программ.
                        Благодаря выгодным условиям вы можете приобрести квартиру, дом с
                        земельным участком и коммерческую недвижимость.
                    </p>
                </div>
            </div>
        </div>

        <div class="kkb-hero__banner kkb-hero__banner_tier2">
            <div class="kkb-hero__wrapper kkb-hero__wrapper_right">
                <div class="kkb-hero__content kkb-hero__content_right">
                    <div class="kkb-hero__img-container">
                        <div class="kkb-hero__img-wrapper kkb-hero__img-wrapper_underlay kkb-hero__img-wrapper_animate"></div>
                        <div class="kkb-hero__img-wrapper kkb-hero__img-wrapper_overlay kkb-hero__img-wrapper_animate"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
</body>
</html>