@import "../../_variables/variables";
@import "../../_mixins/mixins";
@import "../../animations/animate";

.kkb-hero {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: $kkb-main-bg-color;
  overflow: hidden;
  color: $kkb-accent-color;

  &__img-container {
    position: relative;
    width: 100% ;
    height: 100%;
    top: -35%;
    right: -10%;
    transform: scale(1.8);
  }

  &__img-wrapper {
    position: absolute;
    width: 100%;

    &_underlay {
      height: 100%;
      background: url("../../assets/icons/small_ornament_ipoteka.svg") no-repeat center ;
      background-size: contain;
    }

    &_animate {
      animation-duration: 1550ms;
      animation-fill-mode: forwards;
      animation-timing-function: cubic-bezier($kkb-animation-timing);

      &.kkb-hero__img-wrapper_underlay {
        animation-name: zoomInRotate;
      }

      &.kkb-hero__img-wrapper_overlay {
        animation-name: slideInRight;
      }

    }

    &_overlay {
      top: 50%;
      height: 40%;
      width: 40%;
      transform: scale(0.4);
      left: 50%;
      align-self: flex-end;
      margin-left: -25%;
      margin-top: 2%;

      //height: 50%;
      //width: 50%;
      background: url("../../assets/images/img.png") no-repeat center;
      background-size: contain;
    }
  }

  &__text-wrapper {
    padding: 3rem;
    flex: 1 1 50%;
    text-align: left;
  }

  &__img-group {
    flex: 1 1 50%;
    position: relative;
  }

  &__row {
    padding: 0 2rem;
  }

  &__title {
    font: {
      size: setFontSizeRem($kkb-rf-size, 42);
      weight: 600;
    };
    line-height: 2.5rem;
  }

  &__text {
    margin-top: 1.5rem;
    font: {
      size: setFontSizeRem($kkb-rf-size, 15);
      weight: 500;
    };
    line-height: 1.2rem;
  }
}