@import "../../_variables/variables";
@import "../../_mixins/mixins";

.kkb-container {
  width: 45rem;
  padding: 0 2rem;
  background-color: rgb(183, 173, 255);
  margin: 0 auto;

  &__inner {
    position: relative;
    height: auto;
    overflow: hidden;
    opacity: .5;
    border-width: 1px;
    border-color: $kkb-main-bg-color;
    border-style: dashed;
  }
}



